{% extends'base.html.twig' %}
{% block body %}
    <div class="container">
         <div class="row">
             <div class="col-xs-12">
                 <h1>Login!</h1>

                {% if error %}

                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

                {% endif %}
                <form action="{{ path('security_login') }}" method="post">

                    {{ form_start(form) }}
                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}
                    {# <label for="username">Username:</label>
                     <input type="text" id="username" name="_username" value="{{ last_username }}"/>

                    <label for= "password">Password:</label>
                    <input type="password" id="password" name="_password" />#}

                    {#
                    20
                    21 If you want to control the URL the user
                    22 is redirected to on success (more details below)
                    23 <input type="hidden" name="_target_path" value="/account" />
                    #}

                    <button type="submit" class="btn btn-success">login <span class="fa fa-lock"> </span></button>
                    &nbsp;
                    <a href="{{ path('user_register') }}">I already have an account</a>

                    {{ form_end(form) }}
                </form>

            </div>
        </div>
         </div>
     {% endblock %}